resources:
- ./../base
namespace: staging
images:
  - name: nexus.build38.cloud:8052/build38/devops-spring-rest
    newTag: 0.0.3
replicas:
- name: myapp 
  count: 2
patches:
- target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: myapp
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: api-staging-myapp.dev.build38.cloud
- target:
    kind: Deployment
    name: myapp
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/readinessProbe
      value:
        httpGet:
          port: 8080
          path: /actuator/health
        initialDelaySeconds: 5
        periodSeconds: 10
- target:
    kind: Deployment
    name: myapp
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/livenessProbe
      value:
        httpGet:
          port: 8080
          path: /actuator/health
        initialDelaySeconds: 15
        periodSeconds: 20
