resources:
- ./../base
namespace: test
images:
  - name: gonzaloacosta/devops-spring-rest
    newTag: 0.0.3-SNAPSHOT
replicas:
- name: myapp 
  count: 1
patches:
- target:
    # group: networking.k8s.io
    # version: v1
    kind: Ingress
    name: myapp
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: api.test.localtest.me
- target:
    # group: apps
    # version: v1
    kind: Deployment
    name: myapp
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/readinessProbe
      value:
        httpGet:
          port: 8080
          path: /actuator/health
        initialDelaySeconds: 5
        periodSeconds: 10
- target:
    kind: Deployment
    name: myapp
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/livenessProbe
      value:
        httpGet:
          port: 8080
          path: /actuator/health
        initialDelaySeconds: 15
        periodSeconds: 20
