resources:
- ./../base
namespace: prod
images:
  - name: nexus.build38.cloud:8052/build38/devops-spring-rest
    newTag: 0.0.3
replicas:
- name: myapp 
  count: 3
patches:
- target:
    group: networking.k8s.io
    version: v1
    kind: Ingress
    name: myapp
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: myapp-prod.apps.dev.build38.cloud
